.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  &.mobile {
    grid-template-columns: 1fr;
  }
}

mat-card {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

mat-card-title {
  padding-left: 16px;
}

mat-card-title {
  padding-bottom: 16px;
}

.on {
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
}
