.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;

  &.mobile {
    grid-template-columns: 1fr 1fr;
  }
}

mat-card {
  padding: 16px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

button {
  width: 100%;
}
