<div class="container">
  <div class="column gap2">
    <section>
      <h5>Devices</h5>
      <div class="row flex-wrap gap2">
        @for (device of icons; track $index) {
          <div class="column device">
            <button
              mat-fab
              extend
              [class.active]="currentDevice === device.type"
              (click)="onSetCurrentDevice(device.type)"
            >
              <mat-icon [svgIcon]="device.icon"></mat-icon>
            </button>
            <span>{{ device.name }}</span>
          </div>
        }
      </div>
    </section>

    <section>
      <app-edit-list
        [input]="devices"
        (info)="onInfo($event)"
        (edit)="onEdit($event)"
        (remove)="onRemove($event)"
      ></app-edit-list>
    </section>
    <section>
      @if (deviceInfo) {
        <mat-card>
          <mat-card-header>
            <mat-card-title> Info </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="grid">
              <div><b>Name</b></div>
              <div>:</div>
              <div>{{ deviceInfo.name }}</div>
              <div><b>Remark</b></div>
              <div>:</div>
              <div>{{ deviceInfo.remark }}</div>
            </div>
            <div>
              @if (fanInfo) {
                <div class="grid">
                  <div><b>Topic</b></div>
                  <div>:</div>
                  <div>{{ fanInfo.fan.topic }}</div>
                </div>
                <div class="header">Attached Switch</div>
                @for (item of fanInfo.fan.actions; track $index) {
                  <div>
                    {{
                      item.suis?.device?.name +
                        " - " +
                        item.key +
                        " - " +
                        item.value
                    }}
                  </div>
                }
              } @else if (lightInfo) {
                <div class="grid">
                  <div><b>Topic</b></div>
                  <div>:</div>
                  <div>{{ lightInfo.light.topic }}</div>
                </div>
                <div class="header">Attached Switch</div>
                @for (item of lightInfo.light.actions; track $index) {
                  <div>
                    {{
                      item.suis?.device?.name +
                        " - " +
                        item.key +
                        " - " +
                        item.value
                    }}
                  </div>
                }
              } @else if (suisInfo) {
                <div class="grid">
                  <div><b>Topic</b></div>
                  <div>:</div>
                  <div>{{ suisInfo.suis.topic }}</div>
                </div>
                <div class="header">Action</div>
                <div><span>Topic: </span>{{ suisInfo.suis.topic }}</div>
                @for (item of suisInfo.suis.actions; track $index) {
                  <div>{{ item.key + " : " + item.value }}</div>
                }
              } @else if (actuatorInfo) {
                <div class="grid">
                  <div><b>Topic</b></div>
                  <div>:</div>
                  <div>{{ actuatorInfo.actuator.topic }}</div>
                </div>
                <div>key: {{ actuatorInfo.actuator.key }}</div>
                <div>on: {{ actuatorInfo.actuator.on }}</div>
                <div>off: {{ actuatorInfo.actuator.off }}</div>
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
    </section>
  </div>
</div>

<!-- Button to add new device -->
<button class="float" mat-mini-fab (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
