<div class="container">
  <div class="column gap2">
    <section>
      <h5>Devices</h5>
      <div class="row flex-wrap gap2">
        @for (device of devices; track $index) {
          <div class="column device">
            <button
              mat-fab
              extend
              [class.active]="currentDevice === device.icon"
              (click)="onClick(device.icon)"
            >
              <mat-icon [svgIcon]="device.icon"></mat-icon>
            </button>
            <span>{{ device.name }}</span>
          </div>
        }
      </div>
    </section>

    <section>
      <app-edit-list
        [curDevice]="currentDevice"
        (info)="onInfo($event)"
        (edit)="onEdit($event)"
        (remove)="onRemove($event)"
      ></app-edit-list>
    </section>
    <section>
      @if (deviceInfo) {
        <mat-card>
          <mat-card-header>
            <mat-card-title> Info </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="grid">
              <div><b>Name</b></div>
              <div>:</div>
              <div>{{ deviceInfo.name }}</div>
              <div><b>Topic</b></div>
              <div>:</div>
              <div>{{ deviceInfo.topic }}</div>
              <div><b>Remark</b></div>
              <div>:</div>
              <div>{{ deviceInfo.remark }}</div>
            </div>
            <div>
              @if (
                currentDevice === DeviceEnum.Fan ||
                currentDevice === DeviceEnum.Light
              ) {
                <div class="header">Attached Switch</div>
                @for (
                  item of getAsFan(deviceInfo).selectedAction;
                  track $index
                ) {
                  <div>{{ item.name + "-" + item.key + "-" + item.value }}</div>
                }
              } @else if (currentDevice === DeviceEnum.Switch) {
                <div class="header">Action</div>
                @for (item of getAsSuis(deviceInfo).action; track $index) {
                  <div>{{ item.key + " : " + item.value }}</div>
                }
              }
            </div>
          </mat-card-content>
        </mat-card>
      }
    </section>
  </div>
</div>

<!-- Button to add new device -->
<button class="float" mat-mini-fab (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
