:root,
:host {
  --sys-background: #fdf8ff;
  --sys-on-background: #1c1b20;
  --sys-surface: #fdf8ff;
  --sys-surface-dim: #ddd8e0;
  --sys-surface-bright: #fdf8ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f7f2fa;
  --sys-surface-container: #f1ecf4;
  --sys-surface-container-high: #ebe6ee;
  --sys-surface-container-highest: #e6e1e9;
  --sys-on-surface: #1c1b20;
  --sys-surface-variant: #e6e0ec;
  --sys-on-surface-variant: #48454e;
  --sys-inverse-surface: #312f36;
  --sys-inverse-on-surface: #f4eff7;
  --sys-outline: #79757f;
  --sys-outline-variant: #cac4cf;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #64558f;
  --sys-primary: #64558f;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #e8ddff;
  --sys-on-primary-container: #201047;
  --sys-inverse-primary: #cebdfe;
  --sys-secondary: #64558f;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #e8ddff;
  --sys-on-secondary-container: #1f1047;
  --sys-tertiary: #8b4a62;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffd9e3;
  --sys-on-tertiary-container: #39071e;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad6;
  --sys-on-error-container: #3b0907;
  --sys-neutral: #79767d;
  --sys-neutral-variant: #79757f;
  --sys-primary-fixed: #e8ddff;
  --sys-primary-fixed-dim: #cebdfe;
  --sys-on-primary-fixed: #201047;
  --sys-on-primary-fixed-variant: #4c3e75;
  --sys-secondary-fixed: #e8ddff;
  --sys-secondary-fixed-dim: #cebdfe;
  --sys-on-secondary-fixed: #1f1047;
  --sys-on-secondary-fixed-variant: #4c3e76;
  --sys-tertiary-fixed: #ffd9e3;
  --sys-tertiary-fixed-dim: #ffb0ca;
  --sys-on-tertiary-fixed: #39071e;
  --sys-on-tertiary-fixed-variant: #6f334a;
  --sys-inverse-secondary: #cebdfe;
  --sys-inverse-tertiary: #ffb0ca;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad6;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73332d;
}
