@use "@angular/material" as mat;
$theme: mat.define-theme();

.sidenav-container {
  height: 100%;
}

.sidenav {
  box-sizing: border-box;
  width: 200px;
  margin-right: 8px;
  &:hover {
    background-color: var(--sys-surface-container);
    @include mat.elevation(4);
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

ul {
  list-style-type: none;
  padding: 0 16px;
}

.container {
  min-height: 100%;
  background-color: var(--sys-surface-container);
  border-radius: var(--mdc-elevated-card-container-shape);
  padding: 16px;
  margin-left: 16px;
}
