<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <ul>
        @for (item of routes; track $index) {
          <li>
            @if (item.sub) {
              <a mat-list-item routerLinkActive="active">
                <div class="row ai-center gap1">
                  <mat-icon [svgIcon]="item.path"></mat-icon>
                  {{ item.name }}
                </div>
              </a>
              <ul>
                @for (sub of item.sub; track $index) {
                  <li>
                    <a
                      mat-list-item
                      [routerLink]="item.path + '/' + sub.path"
                      routerLinkActive="active"
                    >
                      <div class="row ai-center gap1">
                        <mat-icon [svgIcon]="sub.path"></mat-icon>
                        {{ sub.name }}
                      </div>
                    </a>
                  </li>
                }
              </ul>
            } @else {
              <a
                mat-list-item
                [routerLink]="item.path"
                routerLinkActive="active"
              >
                <div class="row ai-center gap1">
                  <mat-icon [svgIcon]="item.path"></mat-icon>
                  {{ item.name }}
                </div>
              </a>
            }
          </li>
        }
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Syukurilexs Smart Home</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
