<div class="container">
  <header>
    <h5>Actuator</h5>
  </header>
  <section>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title | titlecase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="fg" (ngSubmit)="onSubmit()">
          <div class="column">
            <!-- Name -->
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="name" />
            </mat-form-field>

            <!-- Mqtt Topic -->
            <mat-form-field appearance="outline">
              <mat-label>Mqtt Topic</mat-label>
              <input matInput type="text" formControlName="topic" />
            </mat-form-field>

            <div class="row gap2">
              <!-- On -->
              <mat-form-field appearance="outline">
                <mat-label>On</mat-label>
                <input matInput type="text" formControlName="on" />
              </mat-form-field>

              <!-- Off -->
              <mat-form-field appearance="outline">
                <mat-label>Off</mat-label>
                <input matInput type="text" formControlName="off" />
              </mat-form-field>
            </div>
          </div>
          <div class="full-width row gap1 jc-end">
            <button mat-stroked-button (click)="onCancel()" type="button">
              Cancel
            </button>
            <button mat-flat-button [disabled]="fg.invalid">Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
</div>