// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$homev2-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      use-system-variables: true,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($homev2-theme);
  @include mat.system-level-colors($homev2-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
@include mat.typography-hierarchy($homev2-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($homev2-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
 * Flex layout
 **/
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.gap1 {
  gap: 8px;
}

.gap2 {
  gap: 16px;
}

.gap3 {
  gap: 24px;
}

.gap4 {
  gap: 32px;
}

.filler {
  flex: 1;
}

/*
 * Padding
 */
.padding1 {
  padding: 8px;
}

.padding2 {
  padding: 16px;
}

.padding3 {
  padding: 24px;
}

.padding4 {
  padding: 32px;
}

/*
 * Full width
 */
.full-width {
  width: 100%;
}

/*
 * Snack Bar
 */
.snackbar-error {
  --mdc-snackbar-container-color: var(--sys-error);
}
